@import 'vars';
@import 'basics';
@import 'mixins';

//nav
nav.bg-body-tertiary{
    background: transparent !important;
}
//mainHeader
.mainHeader{
    background: linear-gradient(rgba($black, .4), rgba($black, .4)), url(img/home-hero.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    span{
        color: $accents;
    }
    p{
        font-size: 20px;
    }
}
//intro
.intro{
    background: $secondary;
    padding-top: 150px;
    .wrapper{
        flex: 0 0 30%;
        background: $lightGray;
        padding: 50px;
        h3{
            font-size: 40px;
        }
        .icon{
            width: 145px;
            height: 145px;
            background: $primary;
            margin-top: -130px;
            img{
                width: 50%;
            }
        }
    }
}